
:root {
    --casinoGreen: #35654d;
    --casinoGreen2: #477148;
    --casinoGreen-bright: #59ff00;
    --casinoGreen-lucky: #6bff7d;
    --casinoGreen-lite: #34cd71;

    --casinoRed: #ff3434;  
    --casinoRed-lite: #fc7272;
    
    --casinoBlack: #000000;
    --casinoBlack-lite: #343434;

    --casinoGray: #575757;

    --casinoGray-lite: #7e7e7e;
    
    --casinoWhite: #ffffff;
    --casinoWhite-half: #f1fffce8;
    
    
}

html, body {
    box-sizing: border-box;
    text-align: center;
    /* min-width: 320px;
    min-height: 663px; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--casinoGreen);
    /* width: 390px;
    height: 844px; */
}

.title {
    font-size: 30px;
    height: 5%;
}
.table {
    margin: 1% 5%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr;
    grid-template-rows: 1fr 12fr 1fr;
    height: 70%;
}
.players-bets {
    display: grid;
    height: 10%;
    margin: 0% 5%;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    align-items:center;
    
}
.spin {
    padding: 2%;
    height: 10%;
}
.game-empty {
    border: 0;
    margin: 0;
}
.bets-zeros {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    /* border: .5vh groove var(--casinoRed); */
    /* outline: black solid 1vw; */
}
.bets-fiftyFifty {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* border: .5vh groove var(--casinoWhite);
    outline: black solid 1vw; */
}
.bets-third {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: .5vh groove var(--casinoWhite);
    outline: black solid 1vw; */
}
.bets-number {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr;     
    /* border: black groove 1vw;        */
}
.bets-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* border: var(--casinoWhite) inset .5vw; */
}

.game-name {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    justify-content: space-around;
    flex-direction: column;
    font-size: 6vh;
    color: var(--casinoWhite);
    border: 0;
}

/* All divs in table */
.button {
    outline: white solid 1px;
    background-color: var(--casinoGreen2)
}

/* sidebet divs */
.sidediv {
    padding: 5%;
    
}

/* All numbers buttons (and col)*/
.num {
    font-size: 2vh;
    width: 95%;
    height: 95%;
    color: var(--casinoWhite);
    border-radius: 50%; 
    opacity: 1;

}
/* All sidebet buttons */
.sidebet {
    color: var(--casinoBlack-lite);
    background-color: var(--casinoWhite-half);
    height: 100%;
    width: 100%;
    border-radius: 30%;
    
    
}

/* button colors class */
.red, .black {
    color: var(--casinoWhite);
}

.red {
    background-color: var(--casinoRed-lite);
    
}
.black {
    background-color: var(--casinoBlack-lite);
    
}
.zero {
    background-color: #3db54b;
}

/* all three CHIP buttons */
.chip {
    color: var(--casinoWhite);
    border-radius: 100%;
    height: 50%;
    font-size: 2vh;
    
}

.total {
    font-size: 10vh;
    color: var(--casinoWhite);
}


.chip1 {
    background-color: white;
    color: var(--casinoBlack-lite)
}
.chip5 {
    background-color: var(--casinoRed);
    }
.chip25 {
    background-color: green;
}


/* ----------Chip selectors when active-------*/


div.button button.active {
    opacity: 1;
    font-size: 3vh;
}
button.red.active {
    background-color: var(--casinoRed);
}
button.black.active {
    background-color: var(--casinoBlack);
}
button.zero.active {
    background-color: var(--casinoGreen-bright);
}
button.sidebet.active {
    background-color: var(--casinoWhite);
}
button.chip.active {
    font-size: 4vh;
    background-color: rgb(255, 0, 102);
}

#reset {
    border-radius: 15%;
    font-size: 2vh;
    background-color: var(--casinoGray);
    
}

#spin {
    height: 100%;
    width: 100%;
    background-color: var(--casinoGreen-lucky);
}

#reset:hover {
    background-color: var(--casinoWhite);
    color: var(--casinoBlack);
    
    
}

#spin:hover {
    background-color: var(--casinoRed);
}
button:hover {
    background-color: var(--casinoGreen-lucky);
}