
:root {
    --casinoGreen: #35654d;
    --casinoGreen2: #477148;
    --casinoGreen-bright: #59ff00;
    --casinoGreen-lucky: #6bff7d;
    --casinoGreen-lite: #34cd71;

    --casinoRed: #ff3434;  
    --casinoRed-lite: #fc7272;
    
    --casinoBlack: #000000;
    --casinoBlack-lite: #343434;

    --casinoGray: #575757;
    --casinoGray-lite: #7e7e7e;
    
    --casinoWhite: #ffffff;
    --casinoWhite-half: #f1fffca5;   
}

html, body {
    box-sizing: border-box;
    text-align: center;
    /* min-width: 320px;
    min-height: 663px; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--casinoGreen);
    /* width: 390px;
    height: 844px; */
    cursor: pointer;
}
body {

}

.title {
    height: 5vh;
}
.table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 4fr;
    grid-template-rows: 1fr 12fr 1fr;
    height: 70vh;
    width: 95vw;
    
}
.players-bets {
    display: grid;
    height: 10vh;
    width: 95vw;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    align-items:center;
    
}
.spin {
    padding: 2%;
    height: 10vh;
    width: 95vw;
}
.game-empty {
    border: 0;
    margin: 0;
}
.bets-zeros {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;

}
.bets-fiftyFifty {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.bets-third {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.bets-number {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr
                        1fr 1fr 1fr 1fr;     
}
.bets-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.game-name {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    justify-content: space-around;
    flex-direction: column;
    font-size: 6vh;
    color: var(--casinoWhite);
    border: 0;
}

/* All divs in table */
.button {
    outline: white solid 1px;
    background-color: var(--casinoGreen2)
}

/* sidebet divs */
.sidediv {
    padding: 5%;
    
}

/* All numbers buttons (and col)*/
.num {
    
    font-size: 2vh;
    width: 95%;
    height: 95%;
    color: var(--casinoWhite);
    border-radius: 50%; 
    opacity: 1;

}
/* All sidebet buttons */
.sidebet {
    background-color: var(--casinoWhite);
    color: var(--casinoBlack-lite);
    background-color: var(--casinoWhite-half);
    height: 100%;
    width: 100%;
    border-radius: 30%;
    
    
}

/* button colors class */
.red, .black {
    color: var(--casinoWhite);
}
.red {
    background-color: var(--casinoRed-lite);  
}
.black {
    background-color: var(--casinoBlack-lite);
}
.zero {
    background-color: #3db54b;
}
.image {
    width: 100%;
}
/* all three CHIP buttons */
.chip {
    color: var(--casinoBlack-lite);
    border-radius: 35%;
    height: 50%;
    font-size: 2vh;
}
.currentBet {
    display:  inline-block;
    border-radius: 20%;
    background-color: var(--casinoWhite);
    font-size: 4vh;
}
.total {
    font-size: 8vh;
    color: var(--casinoWhite);
}
.chip1 {
    background-color: var(--casinoGray-lite);
}
.chip5 {
    background-color: var(--casinoRed-lite);
    }
.chip25 {
    background-color: var(--casinoGreen-lite);
}

button.thirds.num {
    color: var(--casinoBlack);
}

span.total {

}


/* ----------Chip selectors when active-------*/


div.button button.active {
    opacity: 1;
    font-size: 3vh;
}
button.red.active {
    background-color: var(--casinoRed);
    font-weight: bold;
}
button.black.active {
    background-color: var(--casinoBlack);
    font-weight: bold;
}
button.zero.active {
    background-color: var(--casinoGreen-bright);
}
button.sidebet.active {
    background-color: var(--casinoWhite);
    font-weight: bold;
}
button.chip.active {
    font-size: 4vh;
}
button.chip1.active {
    background-color: var(--casinoWhite);
}
button.chip5.active {
    background-color: var(--casinoRed);
    color: white;
}
button#chip25.active {
    background-color: green; 
    color: white;
}
button.sidebet.red.active {
    background-color: var(--casinoRed);
}
button.sidebet.black.active {
    background-color: var(--casinoBlack);
}

#left0 {
    border-top-left-radius: 25%;
}
#right00 {
    border-top-right-radius: 25%;
}

#reset {
    border-radius: 15%;
    font-size: 2vh;
    background-color: var(--casinoGray);
    
}

#spin {
    height: 100%;
    width: 100%;
    background-color: var(--casinoGreen-lucky);
    font-size: 6vh;
}

#reset:hover {
    background-color: var(--casinoWhite);
    color: var(--casinoBlack);
}

#spin:hover {
    background-color: rgb(255, 56, 156);
}
button:hover {
    background-color: var(--casinoGreen-lucky);
}

.spin-modal{
    display: none;
    background-color: var(--casinoWhite-half);
    position: fixed;
    padding: -25%;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: center;
}

.spin-content{
    margin: 5% auto;
    width: 25vh;
    font-size: 18vh;
}
.close {
    color: var(--casinoGray-lite);
    float: right;
    font-size: 6vh;
    color: var(--casinoBlack)
}
.spinResult {
    font-size: 18vh;
    color: #0021f6;
}
.win {
    font-size: 10vh;
}
.image {
    size: 50%;
}
.close:hover {
    color: var(--casinoRed);
}